.ghostButton {
  display: inline-block;
  width: 50px;
  border: 1px solid;
  padding: 4px 8px;
  text-align: center;
  outline: none;
  text-decoration: none;
  &--blue {
    color: #4682b4;
    border-color: #4682b4;
    &:hover,
    &:active {
      background: #4682b4;
      color: #fff;
      border-color: #4682b4;
    }
  }

  img {
    width: 60%;
  }
}
